<% form_tag nil, :id => 'map_fields_form', :method => :post do -%>
  <% @parameters.each do |arr| -%>
    <%= hidden_field_tag arr[0], arr[1] %>
  <% end -%>
  <div class="map_fields">
    <table cellspacing="0">
      <thead>
        <tr>
          <% (1..@rows[0].size).each do |c| -%>
            <th><%= select_tag "fields[#{c}]", options_for_select(@fields), :include_blank => true, :class => 'field_options' %></th>
          <% end -%>
        </tr>
      </thead>
      <tbody>
        <% @rows.each do |row| -%>
          <tr>
            <% row.each do |column| -%>
              <td><%= h(column) %></td>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  <div class="option">
    <%= check_box_tag 'ignore_first_row', '1', true, :id => 'ignore_first_row_option' %><label for="ignore_first_row_option">Ignore the first row (headings)</label>
  </div>
  <div class="action">
    <%= submit_tag 'Import' %>
  </div>
<% end -%>
